


header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}


body {
	/*background-color: #00569f;*/ /*needs to be below the gradiant whatever that means*/
	background-color: white;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}



nav ul {
	font-size: 1.2em;
	/*added the bold*/
	font-weight: bold;

	/*removes the bullet points from the list*/
	list-style-type: none;
}


nav a:visited {
	color: #344873;
}

/*removes the underlines from under the links*/
a {
	text-decoration: none;
}

nav a:hover {
	color: #FFFFFF;
}



h1 {
	margin-bottom: 0;
	padding: 10px;
}



h2 {
	color: #3399CC;
}


h1, h2 {
	font-family: Georgia, "Times New Roman", serif;
}



#contact {
	font-size: 90%;
}



dt {
	color: #000033;
}




footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
}

